.main {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  background: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: #fff;

}

.sectionA {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.sectionA .block {
  height: 70vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* border: 2px solid #0011ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}

.sectionA .block .title {
  font-size: 4rem;
  color: #ff0000;
  text-align: center;
  font-weight: 700;

}

.sectionA .block .desc {
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  line-height: 1.8;

}

.sectionA .block .desc span {
  background: #ff0000;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem;


}

.sectionA .block .desc span:hover {
  background: none;
  color: #ff0000;
  transition: 0.5s;
  cursor: pointer;
}

.sectionA .cForm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 50%;
  background: url('/heading.png');
  background-size: 100% 50%;
  background-position: top;
  background-repeat: no-repeat;

  /* border: 2px solid #0011ff; */


}

.cForm label {
  font-size: 3.5rem;
  height: 5rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: -1px 2px 1px #000;
}

.cForm textarea {
  width: 30rem;
  height: 17.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 4rem;
  border: none;
  outline: none;
  padding: 2rem;
  margin: 1rem 0;
  background: rgb(244, 0, 175);
  box-shadow: inset 0 0 15px #0000003e;

  background: none;
  box-shadow: none;
  /* border: 2px solid #0011ff; */
  color: #000;

  background: url('/textarea.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cForm textarea::placeholder {
  color: #7c7c7c;
  font-size: 1.2rem;
  font-weight: 700;
}

.cForm button {
  width: 30%;
  height: auto;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  margin: 1rem 0;
  background: #ff0000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  /* border: 2px solid #0011ff; */

  bottom: 2rem;
  position: absolute;
}

.cForm button:is(:hover, :focus) {
  background: #ff0000a4;
  transition: 0.2s;
}

.toaster {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: auto;
  height: auto;
  background: #000000a6;
  color: white;
  z-index: 100;
  font-size: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width:700px) {

  .sectionA {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

  }

  .sectionA .block {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 2px solid #0011ff; */
    gap: 1rem;

  }

  .sectionA .block .title {
    font-size: 2rem;
    color: #ff0000;
    text-align: center;
    font-weight: 700;

  }

  .sectionA .block .desc {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    text-align: center;
    line-height: 2;

  }

  .sectionA .block .desc span {
    background: #ff0000;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem;


  }

  .sectionA .block .desc span:hover {
    background: none;
    color: #ff0000;
    transition: 0.5s;
    cursor: pointer;
  }

  .sectionA .cForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 70vw;

    /* border: 2px solid #0011ff; */
    
    background-size: 100% 35%;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 1rem;


  }

  .cForm label {
    font-size: 2.5rem;
    height: 5rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-shadow: -1px 2px 1px #000;
  }

  .cForm textarea {
    width: 90%;
    height: 9rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem 0;

    background-size: cover;
    /* border: 2px solid #0011ff; */
    color: #000;
    
  }

  .cForm button {
    width: 60%;
    height: fit-content;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    margin: 1rem 0;
    background: #ff0000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    /* border: 2px solid #0011ff; */

    top: 24rem;
    position: absolute;
  }

  .cForm button:is(:hover, :focus) {
    background: #ff0000a4;
    transition: 0.2s;
  }

  .toaster {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: auto;
    height: auto;
    background: #000000a6;
    color: red;
    z-index: 100;
    font-size: 1.2rem;
    padding: 1rem;
  }

}

@media screen and (min-width:700px) and (max-width:1580px){
  
  .sectionA .cForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 70vw;

    /* border: 2px solid #0011ff; */
    
    background-size: 60% 40%;
    background-position: top;
    background-repeat: no-repeat;


  }

  .cForm textarea {
    width: 60%;
    height: 13rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem 0;

    /* border: 2px solid #0011ff; */
    color: #000;

  background: url('/textarea.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
}